p{
    font-size: 20px;

}
.footer{
    height: 50px;
    margin-top: 420px;
  
}
.header{
    height: 60px;
}
ol{
    margin-left: 200px;;
}
form{
    margin-left: 300px;
}
input{
    margin-top: 10px;

}
.bt{
    margin-left: 400px;
}